
img{
    max-width: 100%;
}

html{
    font-size: 10px;
    // 1 rem
}

html p{
    font-family: $text-font !important;
}

html h1{
    font-family: $text-font !important;
}

html h2{
    font-family: $text-font !important;
}

html h3{
    font-family: $text-font !important;
}

html h4{
    font-family: $text-font !important;
}





